@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    height: 180px;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(https://raw.githubusercontent.com/exstoner/cspaella/main/assets/icons/menu_rounded.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url(https://raw.githubusercontent.com/exstoner/cspaella/main/assets/icons/menu-cancel.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    cursor: pointer;
}

.showcase {
    position: relative;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2;
}

.showcase.active {
    right: 300px;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
}

.text {
    position: relative;
    z-index: 10;
    font-family: 'Poppins', sans-serif;
    margin-top: 150px;
}

.text h2 {
    font-size: 4em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.1em;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;

}


.text a {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    font-size: 1em;
    background: #ffeb3b;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
}

.text a:hover {
    letter-spacing: 6px;
}

.social {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;
}

.social li a:hover {
    transform: scale(0.5) translateY(-15px);
}




.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffeb3b;
}

.menu ul img {
    height: 150px;
    margin-bottom: 140px;
}

.menu ul {
    position: relative;
    line-height: 60px;
    margin-bottom: 250px;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #111;
}

.menu ul li a:hover {
    color: #e70c08;
}


/* About Start */

body{
    background: #1C1A1A;
    font-family: 'Poppins', sans-serif;
}
#top {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background: linear-gradient(to top, #1C1A1A, transparent);
    z-index: 1000;
}


#man {
    top: inherit;
    bottom: 0;
}

.top-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#text {
    font-family: 'Anton', sans-serif;
    position: relative;
    color: white;
    font-size: 8rem;
    text-shadow: 1px 1px 0px #e70c08;
}

#sec {
    padding: 100px;
    padding-bottom: 20px;
}
#sec::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background: linear-gradient(to top, #1C1A1A, transparent);
    z-index: 1000;
}

#sec h2 {
    font-size: 4rem;
    margin-bottom: 30px;
    color: white;
}

#sec p {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 300;
    color: white;
}

/* End About */

/* Card Start */
a {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    justify-content: center;
}

.btn {
    background-color: white;
    border: 1px solid #e70c08;
    border-radius: 10px;
    color: #e70c08;
    padding: 0.5rem;
}
.btn:hover {
    background-color: #e70c08;
    border: 1px solid ;
    color: white;
    padding: 0.5rem;
}

.btn--block {
    display: flex;
    width: 100%;
}

.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.cards__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards__item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards__item {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border: 1px solid #ffeb3b;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.38);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

.card:hover .card__image {
    -webkit-filter: contrast(100%);
    filter: contrast(100%);
}

.card__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem;
}

.card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    -webkit-filter: contrast(70%);
    filter: contrast(70%);
    overflow: hidden;
    position: relative;
    -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
    transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.card__image::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

@media (min-width: 40rem) {
    .card__image::before {
        padding-top: 66.6%;
    }
}

.card__image--river {
    background-image: url(https://images.pexels.com/photos/4305836/pexels-photo-4305836.jpeg);
}

.card__image--record {
    background-image: url(https://images.pexels.com/photos/6393615/pexels-photo-6393615.jpeg);
}

.card__image--fence {
    background-image: url(https://images.pexels.com/photos/12419160/pexels-photo-12419160.jpeg);
}

.card__title {
    color: #1C1A1A;
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card__text {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
}

/* End Card */

/* Footer Navbar  */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #1C1A1A;
    color: #fff;
}

.navbar a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
    color: #eee;
    padding: 0 40px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 40px 0px 0px 0px;

}

.navbar a:hover {
    background-color: #e70c08;
    color: white;
    border-radius: 5px 5px 5px 5px;
}

/* End Footer NavBAr */

/* Waves Start */
.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}



/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 100px;
    }
}

/* Waves End */

/* Responsive */

@media only screen and (max-width: 991px) {
    #top {
        position: relative;
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #text {
        color: white;
        font-size: 3rem;
        text-shadow: 1px 1px 0px #e70c08;
    }

    #sec h2 {
        font-size: 3rem;
        margin-bottom: 30px;
        color: white;
    }

    #sec p {
        font-size: 1.1rem;
        line-height: 2rem;
        font-weight: 300;
        color: white;
    }

    #sec {
        padding: 10px;
        display: grid;
        justify-content: center;
    }
}




/* Responsive  */

@media (max-width: 1000px) {

    .showcase,
    .showcase header {
        padding: 10px;
    }

    img.logo {
        height: 150px;
    }

    .menu ul img {
        height: 150px;
        margin-top: 50px;
        margin-bottom: 25px;
    }

    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 3em;
    }

    .text p {
        display: none;
    }

    .spain_logo {
        display: none;
    }
    .navbar a {
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
        text-decoration: none;
        color: #eee;
        padding: 0 9px;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 40px -2px 0px 0px;
    
}
}