@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

html,
body,
.uk-card-default {
    background-color: #1C1A1A;
    color: white;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.logo {
    display: block;
    margin: 20px auto;
    text-align: center;
    height: 150px;

}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: #fff;
}

.navbar a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
    color: #eee;
    padding: 0 40px;
    height: 100%;
    display: flex;
    align-items: center;


}

.navbar a:hover {
    background-color: #e70c08;
    color: white;
    border-radius: 5px 5px 5px 5px;
}


h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #e70c08;
    margin: revert;
}

.uk-height-medium {
    height: 100%;
}

h4 {
    font-family: 'Ubuntu', sans-serif;
    color: #e70c08;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

p {
    padding: 0 15px 0px;
    margin: 0px 15px 0px;
}

p,
ul {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.uk-form-label {
    color: #ffeb3b;
}

.uk-flex-wrap {
    flex-wrap: wrap;
    margin: 20px 0px 0px;
}

.uk-card-default {
    box-shadow: 0 0px 10px #ffeb3b;
    margin: 30px;

}

.uk-input,
.uk-select,
.uk-textarea {
    background-color: whitesmoke;
    border-radius: 10px;
}

.uk-form-label {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.uk-form-horizontal .uk-form-controls {
    margin-left: 300px;
}
@media (min-width: 960px)
{
    .uk-form-horizontal .uk-form-label {
        width: 200px;
        margin-top: 0px;
        float: left;
    }
}
.uk-input:focus {
    border: 3px solid #ffeb3b;
}

.uk-margin-small-bottom {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    background-color: #ffeb3b;
    border-radius: 10px;
}

.uk-margin-small-bottom:hover {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: #e70c08;
}

.uk-radio {
    border: 1px solid #e70c08;
}

.uk-radio:checked {
    background-color: #ffeb3b;
    border-color: #e70c08;
}

@media only screen and (max-width: 480px) {
    .title {
        font-size: 2em;
    }

    .text {
        font-size: 0.8em;
    }

    .navbar a {
        font-family: 'Ubuntu', sans-serif;
        font-size: 18px;
        text-decoration: none;
        color: #eee;
        padding: 0 9px;
        height: 100%;
        display: flex;
        align-items: center;

    }

    .uk-form-label {
        color: #ffeb3b;
    }

    .uk-flex-wrap {
        flex-wrap: wrap;
        margin: 20px 0px 0px;
    }

    .uk-card-default {
        box-shadow: 0 0px 10px #ffeb3b;
        margin: 30px;

    }
    .uk-form-horizontal .uk-form-controls {
        margin-left: 0;
    }

    .uk-input,
    .uk-select,
    .uk-textarea {
        background-color: whitesmoke;
        border-radius: 10px;
    }

    .uk-form-label {
        font-size: 20px;
        font-family: 'Ubuntu', sans-serif;
    }

    .uk-input:focus {
        border: 3px solid #ffeb3b;
    }

    .uk-margin-small-bottom {
        font-family: 'Ubuntu', sans-serif;
        color: black;
        background-color: #ffeb3b;
        border-radius: 10px;
    }

    .uk-margin-small-bottom:hover {
        font-family: 'Ubuntu', sans-serif;
        color: white;
        background-color: #e70c08;
    }

    .uk-radio {
        border: 1px solid #e70c08;
    }

    .uk-radio:checked {
        background-color: #ffeb3b;
        border-color: #e70c08;
    }

}