@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

html,
body,
.uk-card-default {
	background-color: black;
	color: #666;
	border-radius: 10px;
	font-family: 'Ubuntu', sans-serif;
}

.logo {
    display: block;
    margin: 20px auto;
    text-align: center;
  }
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: #fff;
}

.navbar a {
    font-family: 'Holtwood One SC', serif;
    font-size: 25px;
    text-decoration: none;
    color: #eee;
    padding: 0 40px;
    height: 100%;
    display: flex;
    align-items: center;

}

.navbar a:hover {
    background-color: #e70c08;
    color: white;
    border-radius: 5px 5px 5px 5px;
}


h1 {
	font-family: 'Holtwood One SC', serif;
	color: #e70c08;
	margin: revert;
}

.uk-height-medium {
    height: 100%;
}

h4 {
	font-family: 'Holtwood One SC', serif;
	color: #e70c08;
	font-size: 17px;
	display: flex;
	justify-content: center;
}

p {
	padding: 0 15px 0px;
	margin: 0px 15px 0px;
}

p,
ul {
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1rem;
}

.uk-form-label {
	color: #ffeb3b;
}

.uk-flex-wrap {
	flex-wrap: wrap;
	margin: 20px 0px 0px;
}

.uk-card-default {
	box-shadow: 0 0px 10px #ffeb3b;
	margin: 30px;

}

.uk-input,
.uk-select,
.uk-textarea {
	background-color: whitesmoke;
	border-radius: 10px;
}

.uk-form-label {
	font-size: 13px;
	font-family: 'Holtwood One SC', serif;
}

.uk-input:focus {
	border: 3px solid #ffeb3b;
}

.uk-margin-small-bottom {
	font-family: 'Holtwood One SC', serif;
	color: black;
	background-color: #ffeb3b;
}

.uk-margin-small-bottom:hover {
	font-family: 'Holtwood One SC', serif;
	color: white;
	background-color: #e70c08;
}
.uk-radio {
	border: 1px solid #e70c08;
}
.uk-radio:checked {
	background-color: #ffeb3b;
	border-color: #e70c08;
}

@media only screen and (max-width: 480px) {
    .title {
        font-size: 2em;
    }

    .text {
        font-size: 0.8em;
    }
    .navbar a {
        font-family: 'Holtwood One SC', serif;
        font-size: 11px;
        text-decoration: none;
        color: #eee;
        padding: 0 9px;
        height: 100%;
        display: flex;
        align-items: center;
    
}}